// Sass for the GameList component goes here.
// Placeholder styling for title banner.
.game-list__root {
  margin-top: 30px;
  text-align: center;
  position: relative;
  z-index: 0;
}

#coggers__game-list {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

